
<div class=" bg-gray-700">

                                
  <div class="w-68 absolute  bg-gray-800 shadow h-screen  " >
    <div class="px-2">
        <div class="h-12   flex items-center ">
          <img class="ml-2 mt-6 " src="https://i.postimg.cc/2ytr1jkL/grid.png"/>
        
          <h2 class="  text-2xl text-gray-300 mt-6 mr-2">Accounting System   </h2>
         
        </div>
       
        <div class="mt-12">
          
          <button  class=" bg-gray-400 ml-2 rounded w-16 h-10 ml-16 mb-2 mt-8" (click)="onView()">ViewALL</button>
       
          <h1 class="text-gray-300 text-2xl ml-8 mb-2 mt-2
        ">Search From:</h1>
           
            <button (click)="onClickSearchByParentId()" class="flex w-full justify-between bg-gray-400 h-8 rounded text-black hover:text-gray-300 cursor-pointer items-center mb-6">

                    <span class="text-sm ml-2">ParentAccount</span>
                
            </button>
            <button (click)="onClicksearch()" class="flex w-full justify-between  bg-gray-400 h-8 rounded text-black hover:text-gray-300 cursor-pointer items-center mb-6">
              
              <span class="text-sm ml-2">Account Number</span>
        
      </button>
            <button (click)="onsearchByAccountID()"  class="flex w-full justify-between  bg-gray-400 h-8 rounded text-black hover:text-gray-300 cursor-pointer items-center mb-6">
                  
                    <span class="text-sm ml-2">Account ID</span>
                
            </button>
            <button (click)="onSearchByAccountName()"  class="flex w-full justify-between  bg-gray-400 h-8 rounded text-black hover:text-gray-300 cursor-pointer items-center mb-6">
                
                    <span class="text-sm ml-2">Account Name</span>
                
             </button>
            
            
        
        </div>
        
    </div>
</div>
   <h1 class="text-3xl text-center text-white font-bold" >
    Welcome To Accounting System 
    </h1>
 
    <div class=" flex justify-center items-center mt-4">
      <input *ngIf="flag2==1" type="text" class="h-10 w-90 pl-10  bg-gray-600 pr-20 text-white  rounded-lg z-0 focus:shadow focus:outline-none mr-1"  [(ngModel)]="searchByAccountNumber" required  placeholder="ENTER Account Number">
 <button *ngIf="flag2==1" class="bg-indigo-300 ml-2 rounded w-16 h-10" (click)="onSearch()">Search</button>
 <input *ngIf="flag3==1" type="text" class="h-10 w-90 pl-10  bg-gray-600 pr-20 text-white  rounded-lg z-0 focus:shadow focus:outline-none mr-1"  [(ngModel)]="searchByParentId"   placeholder=" Enter Parent Account">
 <button *ngIf="flag3==1" class="bg-indigo-300 ml-2 rounded w-16 h-10" (click)="onSearchByParent()">Search</button>
 <input *ngIf="flag4==1" type="text" class="h-10 w-90 pl-10  bg-gray-600 pr-20 text-white  rounded-lg z-0 focus:shadow focus:outline-none mr-1"  [(ngModel)]="searchByAcountId"   placeholder=" Enter Account Number">
 <button *ngIf="flag4==1" class="bg-indigo-00 ml-2 rounded w-16 h-10" (click)="onSearchbyacid()">Search</button>
 <input *ngIf="flag5==1" type="text" class="h-10 w-90 pl-10  bg-gray-600 pr-20 text-white  rounded-lg z-0 focus:shadow focus:outline-none mr-1"  [(ngModel)]="searchByAccountnme"   placeholder=" Enter Account Name">
 <button *ngIf="flag5==1" class="bg-indigo-600 ml-2 rounded w-16 h-10" (click)="onClicksearchByAccountName()">Search</button>
    </div>

    <table  *ngIf="flag1==0" class="rounded-t-lg  mt-4 h-full mx-auto mr-auto ml-auto  text-gray-100 bg-gray-700 border border-gray-300  "style="width: 60%">
    
        <th class="px-0 py-3 border border-gray-300 " >
          <svg *ngIf="sp==0"xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6 items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountid()">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
          </svg>
          <svg *ngIf="sp==1"xmlns="http://www.w3.org/2000/svg" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountiddes()">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
          </svg>Account ID</th>
        <th class="px-2 py-3 border border-gray-300"><svg *ngIf="sn==0" xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6  items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountnumber()">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
        </svg>
        <svg *ngIf="sn==1" xmlns="http://www.w3.org/2000/svg" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountnumberdesc()">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
        </svg>Account Number</th>
        <th class="px-0 py-3 border border-gray-300"><svg *ngIf="snm==0" xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6 items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountname()">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
        </svg>
        <svg *ngIf="snm==1" xmlns="http://www.w3.org/2000/svg" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"(click)="onClickSortaccountnamedesc()" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
        </svg>Account Name</th>
        <th class="px-2 py-3 border border-gray-300"><svg *ngIf="spa==0" xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6 items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortparent()">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
        </svg>
        <svg *ngIf="spa==1" xmlns="http://www.w3.org/2000/svg" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"(click)="onClickSortparentdes()" >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
        </svg>Parent Account</th>
      
      <tr class="" *ngFor = "let item of view  | paginate: { itemsPerPage:30, currentPage: p }" class="border-b border-gray-300 ">
       
        <td class="pl-24 border border-gray-300  px-auto	 border-b border-gray-300">{{item.account_id}}</td>
        <td class="pl-24 border border-gray-300 border-b border-gray-300">{{item.account_number}}</td>
        <td class="pl-24 border border-gray-300 border-b border-gray-300">{{item.account_name}}</td>
        <td class="pl-20 border border-gray-300 border-b border-gray-300">{{item.parent_id}}</td>
      
        
        

      </tr>    
    
   
     
    </table>
    


    <table  *ngIf="flag1==1" class="rounded-t-lg m-5  h-full mx-auto text-gray-100 bg-gray-700 border border-gray-300  "style="width: 60%">
    
      <th class="px-0 py-3 " >
        <svg *ngIf="sp==0" xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6 items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountid()">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
        </svg>
        <svg *ngIf="sp==1" xmlns="http://www.w3.org/2000/svg" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountiddes()">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
        </svg>Account ID</th>
      <th class="px-2 py-3"><svg *ngIf="sn==0"  xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6  items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountnumber()">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
      </svg>
      <svg *ngIf="sn==1" xmlns="http://www.w3.org/2000/svg" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
      </svg>Account Number</th>
      <th  class="px-0 py-3"><svg *ngIf="snm==0" xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6 items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortaccountnumberdesc()">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
      </svg>
      <svg *ngIf="snm==1" xmlns="http://www.w3.org/2000/svg" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
      </svg>Account Name</th>
      <th class="px-2 py-3"><svg *ngIf="spa==0" xmlns="http://www.w3.org/2000/svg" class="inline-flex h-6 w-6 items-center " fill="none" viewBox="0 0 24 24" stroke="currentColor" (click)="onClickSortparent()">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg"*ngIf="spa==1" class=" inline-flex  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" >
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
      </svg>Parent Account </th>
    
    <tr *ngFor = "let item of searchValue" class="border-b border-gray-300 ">
     
      <td class="pl-24 px-auto border-b border-gray-300">{{item.account_id}}</td>
      <td class="pl-24 border-b border-gray-300">{{item.account_number}}</td>
      <td class="pl-24 border-b border-gray-300">{{item.account_name}}</td>
      <td class="pl-20 border-b border-gray-300">{{item.parent_id}}</td>
     
      
    
    
    </tr>    
   
    
  </table>
  
  
</div>

<div  id="hello" >
 
  <pagination-controls *ngIf="flagdis==1" class="text-white " (pageChange)="p = $event"></pagination-controls>
</div>
<div id="nodata">
  <p class="text-gray-300 text-align:center">{{message}}</p>
</div>