body {
  height: fit-content;
    background-color: rgba(55, 65, 81, 1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.733);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(224, 210, 210, 0.87);
  }

h1{
    color: rgb(151, 204, 231);

  }
  h2{
    color: rgb(151, 204, 235);

  }

 
  #hello{
    margin-left: 750px;
  }
  #nodata{
    margin-left: 800px;
  }